@use '~/assets/scss/Variables.scss' as *;

.adicionarEmbalagem{
    width: 550px;
    max-width: 100%;

    form{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 0 30px;

        >div{
            width: 100%;

            &.half{
                width: calc((100% - 10px) / 2);
            }
        }
    }
}