.changeStatus{
    display: flex;
    gap: 10px;
    width: 490px;
    border: none;
    flex-wrap: wrap;
    justify-content: center;

    button{
        &:not(.active){
            background: #c1c1c1;
            color: #fff;
        }
    }
}