@use "~/assets/scss/Variables.scss" as *;

.dataTable_style{
    &.acoes_buttons table thead tr th:last-child{ width: 0; padding: 0 10px !important; }
    .MuiPaper-root{
        --Paper-shadow: none !important;
        background: #f9f9f9;
        border: 2px solid #e5e5e5;
        padding: 10px 15px 10px;
    }

    table{
        thead{
            tr{
                th{
                    padding: 10px 5px !important;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 5px 5px !important;

                    .stats{
                        width: 100%;
                    }
                    a{
                        width: 100%;
                    }
                    .categorias{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                    }
                    .acoes{
                        display: flex;
                        gap: 4px;
                        justify-content: flex-end;
                        
                        button, a{
                            background: $color1;
                            color: #fff;
                            width: 20px;

                            svg{
                                width: 23px;
                                height: auto;
                            }
                        }
                    }
                    .acoes_atividade{
                        display: flex;
                        justify-content: flex-end;
                        
                        >div{
                            display: flex;
                            
                            &.content_1{
                                background: #ffffff;
                                border-radius: 8px;
                                border: 2px solid $color1;
                                margin: 0 10px 0 0;
                            }
                            &.content_2{
                                justify-content: flex-end;
                            }
                        }

                        button{
                            position: relative;
                            border: none;
                            padding: 5px;
                            background: none;
                            cursor: pointer;
                            min-width: 0;

                            &.play { color: $color1; }
                            &.pause{ color: #ed6c02; }
                            &.concluir{ color: #2e7d32; }
                            &.volumes{ color: #454545; }
                            &.info{ color: #454545; }

                            span.numero{
                                position: absolute;
                                pointer-events: none;
                                right: 2px;
                                top: 0;
                                background: $sucess;
                                color: white;
                                font-size: 0.6em;
                                width: 15px;
                                height: 15px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: bold;
                                border-radius: 50%;
                                padding-top: 2px;

                                &.vazio{
                                    background: $error !important;
                                }
                                &.incompleto{
                                    background: $warning;
                                }
                            }
                            svg{
                                height: auto;
                                width: 30px;
                            }
                        }
                    }
                    .pedidos{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2px;
                        padding: 0 10px 0 0;
                        max-width: 300px;

                        a{
                            width: fit-content;
                        }
                    }
                    .data_late, .data_alert{
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        
                        font-weight: bold;

                        svg{
                            height: auto;
                            width: 18px;
                        }
                    }
                    .data_late{ color: #d32f2f; }
                    .data_alert{ color: #ed6c02; }
                }
            }
        }
    }
}