@use "~/assets/scss/Variables.scss" as *;

.dataTable_style{
    &.acoes_buttons table thead tr th:last-child{ width: 0; padding: 0 10px !important; }
    .MuiPaper-root{
        --Paper-shadow: none !important;
        background: #f9f9f9;
        border: 2px solid #e5e5e5;
        padding: 10px 15px 10px;
    }

    table{
        thead{
            tr{
                th{
                    padding: 10px 5px !important;
                }
            }
        }
        tbody{
            tr{
                position: relative;

                td{
                    padding: 5px 5px !important;

                    .stats{
                        width: 100%;
                    }
                    a{
                        width: 100%;
                        z-index: 1;

                        &.link{
                            opacity: 0;
                            background: red;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100% !important;
                            height: 100% !important;
                            z-index: 0;
                        }
                    }
                    .categorias{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                    }
                    .acoes{
                        display: flex;
                        gap: 4px;
                        justify-content: flex-end;
                        
                        button, a{
                            background: $color1;
                            color: #fff;
                            width: 20px;

                            svg{
                                width: 23px;
                                height: auto;
                            }
                        }
                    }
                    .pedidos{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2px;
                        padding: 0 10px 0 0;
                        max-width: 300px;

                        a{
                            width: fit-content;
                        }
                    }
                    .data_late, .data_alert{
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        
                        font-weight: bold;

                        svg{
                            height: auto;
                            width: 18px;
                        }
                    }
                    .data_late{ color: #d32f2f; }
                    .data_alert{ color: #ed6c02; }
                }
            }
        }
    }
}