@use "~/assets/scss/Variables.scss" as *;

.tabs_content{
    background: #f9f9f9;
}

$pagePadding: 30px 20px;

@mixin info {
    margin: 0 0 40px;

    .stats{
        margin: 0 0 25px;
    }
    .info{
        display: flex;
        flex-wrap: wrap;
        background: #f9f9f9;
        padding: 20px 25px 20px;
        gap: 20px;
        border: 3px solid $color1;
        border-radius: 3px;

        p{
            width: calc((100% - 20px)/2);
            color: #696069;
            display: flex;
            align-items: center;
            gap: 10px;

            .icon{
                color: $color1;

                svg{
                    width: 30px;
                    height: auto;
                }
            }
            b{
                font-weight: bold;
            }
        }

    }
}

.informacoes{
    padding: $pagePadding;

    .info_pedido{
        @include info;
    }

    .info_produto{
        background: $grey;
        border-radius: 3px;
        overflow: hidden;

        h3{
            padding: 13px 20px 9px;
            background: $color1;
            color: #fff;

            b{}
        }
        >p{
            padding: 13px 20px 9px;
            border: 2px solid #d7d7d7;
            border-top: none;

            b{}
        }
        .info_table{
            display: flex;
            flex-wrap: wrap;
            border: 2px solid #d7d7d7;

            >div{
                width: 50%;
                color: #434343;
                font-size: 0.8em;

                &:nth-child(2n){
                    border-left: 2px solid #d7d7d7;
                }

                h4{
                    padding: 10px 20px 7px;
                    font-weight: bold;
                    background: #d7d7d7;
                }
                p{
                    padding: 10px 20px 7px;
                }
            }
        }
    }
}

.requisitos{
    padding: $pagePadding;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.atividades, .volumes{
    padding: $pagePadding;

    button.adicionar{
        display: block;
        margin: 0 0 0 auto;
    }
}

.requisito_item{
    width: calc((100% - 10px * 2)/3);
    background: $grey;
    border: 2px solid $color1;
    border-radius: 3px;

    h3{
        background: $color1;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 10px 5px;
        font-weight: bold;
        text-transform: uppercase;

        .icon{
            svg{}
        }
    }
    .step_content{
        padding: 15px 20px;

        p{
            color: $color2;
            font-size: 0.8em;
            line-height: 1.3em;
        }
        .finalizado{
            background: #2e7d32;
            padding: 15px 15px 14px;
            border-radius: 50PX;

            p{
                color: #fff;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                gap: 10px;
                font-weight: bold;
            }
        }
    }
}