@use '~/assets/scss/Variables' as *;

.transfer_component{
    margin: 0 0 50px;
    align-items: flex-start !important;

    .side_content{
        position: relative;
        width: calc((100% - 134px)/2);
        overflow: hidden;
        background: #f9f9f9;

        &::before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
            background: $color1;
            padding: 5px 0;
            font-size: .8em;
            border-radius: 3px;
            z-index: 1;
        }

        >div{
            width: 100%;
            height: 100%;
            border: 3px solid $color1;
            padding: 20px 0 0;
            min-height: 82px;

            >div{
                padding: 0;

                >div:nth-child(2n - 1){
                    background: #f9f9f9;
                }
            }
        }
    }
    .left_content{
        &::before{
            content: 'Selecionados';
        }
        >div{
        }
    }
    .right_content{
        &::before{
            content: 'Pedidos';
        }

        >div{
        }
    }
}